{
  "token": "YOUR_DISCORD",
  "prefix": "!",
  "ownerId": "YOUR_DISCORD_USER_ID",
  "guildIds": ["YOUR_GUILD_ID_1", "YOUR_GUILD_ID_2"],
  "defaultVolume": 50,
  "status": {
    "type": "LISTENING",
    "text": "/play | Music Bot",
    "status": "online"
  },
  "lavalink": {
    "nodes": [
      {
        "host": "YOUR_SERVER_IP",
        "port": 2333,
        "password": "youshallnotpass",
        "retryAmount": 5,
        "retryDelay": 1000,
        "secure": false
      }
    ]
  }
}